<launch>
    <node pkg="rviz"  type="rviz"  name="rviz"  args="-d $(find lidar_localization)/rviz/matching_gwh.rviz"></node>
    <node pkg="lidar_localization"  type="data_preprocessing_node"  name="data_preprocessing_node"  output="screen"></node>
    <node pkg="lidar_localization"  type="matching_node"  name="matching_node"  output="screen"></node>
</launch>
